{% set ob_route = ob_route | default('ob_cache_nuke_clear') %}
{% set ob_text = ob_text | default('cache clear') %}
{% set ob_cli = ob_cli | default('app/console cache:clear') %}
<link rel="stylesheet" href="{{ asset('bundles/dwleximcore/vendor/ladda/css/ladda.min.css') }}"/>

<a class="ladda-button {{ob_route}}" data-color="red" data-style="slide-up" data-size="s" style="background-color:transparent;font-size:1em;border:none;line-height:20px;color:#ffffff;" title="{{ob_cli}}">
    <span class="ladda-label" style="font-size:1em;">{{ob_text}}</span>
    <span class="ladda-spinner" style="color:#333333;"></span>
    <div class="ladda-progress" style="width: 0px;"></div>
</a>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('bundles/dwleximcore/vendor/ladda/js/spin.min.js') }}"></script>
<script src="{{ asset('bundles/dwleximcore/vendor/ladda/js/ladda.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var button = Ladda.create(document.querySelector('.ladda-button.{{ob_route}}'));

        [].forEach.call(document.querySelectorAll('.ladda-button.{{ob_route}}'), function(el) {
            el.addEventListener('click', function() {
                NProgress.start();
                button.start();

                var r = new XMLHttpRequest()
                r.open('GET', Routing.generate('{{ob_route}}'));
                r.onreadystatechange = function() {
                    if (r.readyState != 4 || r.status != 200) return;
                    button.stop();
                    NProgress.done();
                }
                r.send();
            });
        });
    });
</script>
